{{!
{
  "title": "Index",
  "name": "index",
  "preprocessor": "index.js"
}
}}

<h1>jungle-solidus-template</h1>
<p>This is page is a placeholder. If you are migrating a site from CliqueTools, you need to import your views!</p>